#AuthType Basic
#AuthName "MythTV"
#AuthUserFile /var/www/htpasswd
#Require valid-user

# set up different auth for:
#settings_channels.php

<FilesMatch "\.php$">
    php_value safe_mode                     0

    php_value session.save_path             php_sessions

    php_value output_buffering              4096
    php_value register_globals              0
    php_value magic_quotes_gpc              0
    php_value file_uploads                  0
    php_value allow_url_fopen               1

    php_value zlib.output_handler           Off
    php_value zlib.output_compression       16384
    php_value zlib.output_compression_level 4

    php_value url_rewriter.tags             a=href,area=href,frame=src,input=src,form=action

# These values do not change - bug in php
    php_value output_handler                NULL
    php_value short_open_tag                1

# php_flag does not work in older versions of php
    php_flag output_handler                 "NULL"
    php_flag short_open_tag                 "On"

</FilesMatch>
