    #list_content {
        margin-bottom:                      3em;
    }

    .list {
        background-color:                   #c5d8e9;
        -moz-border-radius:                 8px;
        -webkit-border-radius:              8px;
        -moz-box-shadow:                    1px 1px 5px #999;
        -webkit-box-shadow:                 1px 1px 5px #999;
        box-shadow:                         1px 1px 5px #999;
        padding-bottom:                     1em;
        margin-left:                        1em;
        margin-right:                       1em;
        margin-bottom:                      2em;
        width:                              auto !important;

    }

    .list_separator {
        text-align:                     center;
        font-weight:                    bold;
        -moz-border-radius:             8px;
        -webkit-border-radius:          8px;
        background-image:               url('./img/grey_fade.jpg');
        -moz-box-shadow:                    1px 1px 5px #999;
        -webkit-box-shadow:                 1px 1px 5px #999;
        box-shadow:                         1px 1px 5px #999;
    }

    #command_choices a {
        white-space: nowrap;
    }

    #category_legend_popup {
        position:         absolute;
        visibility:       hidden;
        top:              0px;
        left:             0px;
        padding:          2px;
        white-space:      nowrap;
    }
    #category_legend_popup table {
        font-size:        9pt;
    }

    dl.details_list {
        font-size:  9pt;
        margin:     .125em;
        max-width:  41em;
    }
    dl.details_list dt {
        clear:       left;
        float:       left;
        width:       9em;
        padding-top: 3px;
        text-align:  right;
        color:       #ffe;
        white-space: nowrap;
    }
    dl.details_list dd {
        padding-top: 3px;
        margin-left: 9.5em;
    }

    .hdtv_icon {
        font-size:   9pt;
        float:       right;
        color:       yellow;
        display:     inline;
        font-weight: bold;
    }

.scheduled   { background-color: #00FFCC; }
.conflict    { background-color: #CCCC99; }
.duplicate   { background-color: #304050; }
.deactivated { background-color: #508060; }

.will_record              { border: 1px solid  #00F000 !important; }
.record_weekly            { border: 1px solid  #00F000 !important; }
.record_timeslot          { border: 1px solid  #00F000 !important; }
.record_once              { border: 1px solid  #00F000 !important; }
.record_always            { border: 1px solid  #00F000 !important; }
.record_conflicting       { border: 1px solid  #FF0000 !important; }
.record_duplicate         { border: 2px dashed #90B0A0 !important; }
.record_old_duplicate     { border: 1px dashed #90B0A0 !important; }
.record_suppressed        { border: 2px dotted #60B0B0 !important; }
.record_override_suppress { border: 2px dotted #D03060 !important; }
.record_override_record   { border: 2px solid  #00FF90 !important; }


.rec_class {
    background:  transparent;
    text-align:  center;
}
.rec_class.WillRecord     { font-weight: bold; }
.rec_class.Recording      { font-weight: bold; }
.Recording                { color: #00FF00; border-width: 2px }
.WillRecord               { color: #00FF00; }
.PreviousRecording        { color: #90B0A0; }
.CurrentRecording         { color: #90D0A0; }
.Repeat                   { color: #90B0A0; }
.EarlierShowing           { color: #90FFA0; }
.LaterShowing             { color: #90FFA0; }
.TooManyRecordings        { color: #60B0B0; }
.Cancelled                { color: #60B0B0; }
.Conflicting              { color: #FF0000; }
.LowDiskSpace             { color: #60B0B0; }
.TunerBusy                { color: #60B0B0; }
.ManualOverride           { color: #D03060; }
.Overlap                  { color: #FF0000; }

.type_movie         { background-color: #809090; }
.type_series        { background-color: #C0C0C0; }
.type_tvshow        { }

.cat_Action         { background-color: #A6A38A; }
.cat_Adult          { background-color: #FF0066; }
.cat_Animals        { background-color: #33FF66; }
.cat_Art_Music      { background-color: #CC00CC; }
.cat_Business       { background-color: #703010; }
.cat_Children       { background-color: #B00010; }
.cat_Comedy         { background-color: #3399FF; }
.cat_Crime_Mystery  { background-color: #33FFFF; }
.cat_Documentary    { background-color: #9999CC; }
.cat_Drama          { background-color: #CC99FF; }
.cat_Educational    { background-color: #606060; }
.cat_Food           { background-color: #66CC99; }
.cat_Game           { background-color: #FFFF33; }
.cat_Health_Medical { background-color: #999966; }
.cat_History        { background-color: #807020; }
.cat_HowTo          { background-color: #A0A000; }
.cat_Horror         { background-color: #CC3366; }
.cat_Misc           { background-color: #33FFFF; }
.cat_News           { background-color: #999999; }
.cat_Reality        { background-color: #FFCC66; }
.cat_Romance        { background-color: #A02050; }
.cat_Science_Nature { background-color: #00FF99; }
.cat_SciFi_Fantasy  { background-color: #606090; }
.cat_Shopping       { background-color: #66FF33; opacity: .5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }
.cat_Soaps          { background-color: #508080; }
.cat_Spiritual      { background-color: #804080; }
.cat_Sports         { background-color: #00CCCC; }
.cat_Talk           { background-color: #6090B0; }
.cat_Travel         { background-color: #33FFCC; }
.cat_War            { background-color: #B06050; }
.cat_Western        { background-color: #806040; }
.cat_Unknown        { background-color: #9999FF; }

.tv_Cine           { background-color: blue;            }
.tv_Classic        { background-color: gray;            }
.tv_Collectibles   { background-color: #708090;         }
.tv_Magazine       { background-color: #48D1CC;         }
.tv_Movies         { background-color: blue;            }
.tv_Serie          { background-color: #9932CC;         }
.tv_SHOW           { background-color: #A0522D;         }
.tv_Tiempo         { background-color: #33ff99;         }
