    html,body {
        border:           0;
        margin:           0;
        padding:          0;
        font-size:        9pt;
        font-family:      Arial, Helvetica, sans-serif;
        background-color: #FFFFFF;
        color:            #000000;
        margin-bottom:      1em;
    }

    .body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    a, a:link, .link { color: #000000; text-decoration: none; cursor: pointer;}
    a:active  { color: #666666; text-decoration: none; }
    a:visited { color: #000000; text-decoration: none; }
    a:hover   { color: #666666; text-decoration: none; }

    label       { color: #000000; text-decoration: none; cursor: pointer;}
    label:hover { color: #666666; text-decoration: underline; }

    .menu {          background-color: #c5d8e9; font-weight: bold; text-align: center; }
    .menu_border_t { border-top:    2px solid #9090B0 }
    .menu_border_b { border-bottom: 2px solid #9090B0 }
    .menu_border_l { border-left:   2px solid #9090B0 }
    .menu_border_r { border-right:  2px solid #9090B0 }

.command_border_t { border-top:    2px solid #9090B0 }
.command_border_b { border-bottom: 2px solid #9090B0 }
.command_border_l { border-left:   2px solid #9090B0 }
.command_border_r { border-right:  2px solid #9090B0 }
.activecommand    { background-color: #108040 }

    .commandbox {
        background-color:   #c5d8e9;
        color:              #000000;
        -moz-box-shadow:                    1px 1px 5px #999;
        -webkit-box-shadow:                 1px 1px 5px #999;
        box-shadow:                         1px 1px 5px #999;
        -moz-border-radius:     8px;
        -webkit-border-radius:  8px;
    }

    .commandbox select {
        background-color:   #e4e4e4;
        color:              #000000;
    }

    .commands input.x-submit {
        padding:            0 .5em;
        height:             2em;
        background-color:   #e4e4e4;
        color:              #000000;
        -moz-border-radius:     8px;
        -webkit-border-radius:  8px;
    }
    .commands input.x-submit:hover {
        color:              #000000;
        background-image:   url('./img/blue_fade.jpg');
        text-decoration:    underline;
    }

    .commands a {
        font-weight:        bold;
        padding:            .15em .5em;
        -moz-border-radius:     8px;
        -webkit-border-radius:  8px;
        background-image:   url('./img/grey_fade.jpg');
    }
    .commands a:hover {
        background-image:   url('./img/blue_fade.jpg');
        color:              #FFFFFF;
    }

    form { display: inline; }

    .submit {
        border:             2px outset #7b8;
        padding:            0 .5em;
        background-color:   #263;
        color:              #E0E0FF;
        font-weight:        bold;
        height:             2em;
    }
    .submit:hover {
        border:             2px outset #9da;
        background-color:   #485;
        color:              #F0F000;
        text-decoration:    underline;
    }

    .radio {
        height:             14px !important;
        width:              14px !important;
        color:              #002000;
        background-color:   #C0D0C0;
    }

    select {
        font-family:        Arial, Helvetica, sans-serif;
        color:              #000000 !important;
        background-color:   #FFFFFF !important;
        font-size:          9pt;
    }

    input {
        padding-left:       .25em;
        font-family:        Arial, Helvetica, sans-serif;
        color:              #000000;
        background-color:   #FFFFFF;
        font-size:          9pt;
        border:             1px solid #666666;
    }

    textarea {
        font-family:        courier, courier-new;
        color:              #000000;
        background-color:   #FFFFFF;
        font-size:          9pt;
        border:             1px solid #666666;
    }

    input.quantity {
        width:              2em !important;
        text-align:         center;
    }

    #error, .error {
        color:              #F03030;
        background-color:   #360000;
        border-color:       #F03030;
        border:             thin groove #F03030;
        padding:            8px;
    }

    .tiny   { font-size: 9px; }
    .small  { font-size: 9pt; }
    .normal { font-size: 10pt; }
    .large  { font-size: 12pt; }
    .huge   { font-size: 24px; }

    .bold, .bold a, .bold a:link, .bold a:visited, .bold a:active, .bold a:hover {
        font-weight: bold !important;
    }
    .italic, .italic a, .italic a:link, .italic a:visited, .italic a:active, .italic a:hover {
        font-style: italic !important;
    }

    .hidden {
        visibility: hidden;
        display:    none;
    }

/*
 * clearfix -- see http://positioniseverything.net/easyclearing.html for details on how/why this works
/*/

    .clearfix:after {
        content:    ".";
        display:    block;
        height:     0;
        clear:      both;
        visibility: hidden;
    }
    .clearfix {display: inline-block;}
    /* Hides from IE-mac \*/
    * html .clearfix {height: 1%;}
    .clearfix {display: block;}
    /* End hide from IE-mac */

    #ajax_working {
        position:           fixed;
        bottom:             0px;
        right:              0px;
        padding-left:       1em;
        padding-right:      1em;
        padding-top:        .25em;
        padding-bottom:     .25em;
        font-size:          12px;
        background-image:   url('./img/grey_fade.jpg');
        -moz-box-shadow:                    1px 1px 5px #999;
        -webkit-box-shadow:                 1px 1px 5px #999;
        box-shadow:                         1px 1px 5px #999;
        -moz-border-radius-topleft:     8px;
        border-top-left-radius:         8px;
        -webkit-border-top-left-radius: 8px;
    }

    .link {
        cursor:             pointer;
    }

    a img {
        border:             0px;
        text-decoration:    none !important;
    }

    .nowrap {
        white-space:        nowrap;
    }

#feed_buttons {
    padding-top:        1em;
    padding-bottom:     1em;
    padding-left:       1.35em;
}

#feed_buttons a {
    padding-right:      1em;
}

div.prototip {
    border:                             none !important;
    background-color:                   #c5d8e9;
    color:                              #000000;
    -moz-border-radius:                 8px;
    -webkit-border-radius:              8px;
    -moz-box-shadow:                    1px 1px 5px #999;
    -webkit-box-shadow:                 1px 1px 5px #999;
    box-shadow:                         1px 1px 5px #999;
}

div.prototip * {
    background-color:                   transparent !important;
    border:                             none !important;
    color:                              #000000 !important;
}

div.prototip a.close {
    right: 5px;
    left: auto !important;
}
