body {
    background-color:#ccc;
}

#message {
    position:           absolute;
    top:                50%;
    left:               50%;
    margin-top:         -6.5em;
    width:              40%;
    margin-left:        -20%;
    line-height:        2em;
    text-align:         center;
    border:             2px ridge #228;
    background-color:   white
}
