#page_header {
    margin: 5px;
}

#logo_box {
}
#mythtv_logo {
    margin:     0px 5px;
    padding:    5px;
    height:     48px;
    width:      180px;
    float:      left;
    text-align: center;
}

#sections {
    white-space: nowrap;
}
#sections a {
    float:              left;
    margin:             0px 5px;
    padding:            5px;
    background-color:   #347;
    border-top:         1px solid #8ad;
    border-right:       1px solid #003;
    border-bottom:      1px solid #000;
    border-left:        1px solid #79c;
    -moz-border-radius: 8px;
    border-radius:      8px;
    text-align:         center;
    height:             48px;
    width:              48px;
}
#sections a:hover {
    background-color:   #458;
}
#sections a img {
    border:  none;
    display: inline !important;
}

#sections a.current_section {
    background-color:   #164;
    border-top:         1px solid #7b9;
    border-right:       1px solid #030;
    border-bottom:      1px solid #000;
    border-left:        1px solid #6a8;
}
#sections a.current_section:hover {
    background-color:   #275;
}

#tv_link {
}
#music_link {
}
#video_link {
}
#weather_link {
}
#settings_link {
}

#extra_header {
    margin-left: 550px;
    padding:     0px 5px;
    height:      58px;
}

/*
 * IE sucks:  true-height is supposed to be height+padding+margin+border, but IE
 * doesn't add in padding, so we have to create a wrapper container and use
 * margin instead of padding to make the "padding" that we need.
 */
#help_wrapper {
    height:             21px;
    margin-bottom:      3px;
    background-color:   #247;
    border-top:         1px solid #013;
    border-right:       1px solid #79c;
    border-bottom:      1px solid #68b;
    border-left:        1px solid #002;
    -moz-border-radius: 6px;
    border-radius:      6px;
    min-width:          225px;
}
#help_box {
    margin:             4px 5px 2px 5px;
    height:             15px;
    overflow:           hidden;
    white-space:        nowrap;
}
#search {
    margin-top:         2px;
    padding:            3px 5px;
    height:             26px;
    background-color:   #247;
    border-top:         1px solid #013;
    border-right:       1px solid #79c;
    border-bottom:      1px solid #68b;
    border-left:        1px solid #002;
    -moz-border-radius: 8px;
    border-radius:      8px;
    min-width:          225px;
    white-space:        nowrap;
}
#simple_search {
    padding-top: 1px;
}


#search_text {
    position:     relative;
    top:          -1px;
    width:        150px;
    margin-right: 3px;
    padding:      0px 3px;
    font-size:    9pt;
}
#search_submit {
    position:      relative;
    top:           1px;
    padding-left:  .5em;
    padding-right: .5em;
    font-size:     9pt;
}

