/* @deprecated
 * A class for the the cells containing settings in the various settings files
/*/
    .settings {
        background-color: #506080;
    }

/* The main box surrounding all settings editors */
    #settings {
        margin-top:     1em;
    }

/* Overview of the settings */

    #settings .x-overview {
        text-align:     center;
        width:          15em;
    }
    #settings .x-title {
        margin:         .5em;
        font-size:      125%;
    }

/* The list of modules. */

    #settings .x-modules {
        white-space:    nowrap;
    }
    #settings .x-modules ul {
        margin:             1em;
        list-style-type:    none;
        padding:            0px;
    }
    #settings .x-modules li {
    }
    #settings .x-modules a {
        display:            block;
        padding:            .2em 1em;
        background-color:   #345;
        border:             1px dotted #9090B0;
        margin-top:         1px;
        margin-bottom:      11px;
    }
    #settings .x-modules a:hover, #settings .x-modules a.x-selected {
        background-color:   #023;
        margin-top:         -1px;
        margin-bottom:      10px;
        border-width:       2px;
        border-color:       #abd;
    }
    #settings .x-modules a.x-selected {
        border-style:       solid;
    }

/* The list of sections for the current module. Normally displayed as tabs. */

    #settings .x-sections {
        padding:        0px 1em;
        border-bottom:  1px solid #9090B0;
        height:         2.25em;
        vertical-align: bottom;
        min-width:      60%;
    }

    #settings .x-sections ul {
        display:        inline;
        list-style:     none;
        margin:         0;
        padding:        0;
    }
    #settings .x-sections a {
        float:              left;
        color:              #ccd;
        background-color:   #405953;
        padding:            2px 6px;
        margin:             3px 5px 0px 0px;
        border:             2px solid #578;
        border-bottom:      none;
        white-space:        nowrap;
        -moz-border-radius-topleft:     8px;
        -moz-border-radius-topright:    8px;
        border-radius:      8px 8px 0px 0px;
    }
    #settings .x-sections a:hover, #settings .x-sections a.x-selected {
        color:              white;
        background-color:   #102923;
        border-color:       #9090B0;
    }
    #settings .x-sections a.x-selected {
        border-bottom:      1px solid #102923;
        margin-bottom:      -1px;
    }

    #settings .x-sections a.active {
        color:              white;
        font-weight:        bold;
        background-color:   #102923;
        border:             2px solid #9090B0;
        border-bottom:      1px solid #102923;
        margin-bottom:      -1px;
    }

/* Select which host to edit the settings for. */

    #settings .x-host {
        text-align:         right;
        border-bottom:      1px solid #9090B0;
    }

/* A notification/warning */

    #settings .x-notice {
        margin:             1em;
        padding:            .5em;
        text-align:         center;
        color:              #fbb;
        background-color:   #360000;
        border:             1px solid #F03030;
    }

/* The content of the settings that are being edited */

    #settings .x-content {
        background-color:   #102923;
        border:             1px solid #9090B0;
        border-top:         none;
    }

    #settings .x-content table {
        width:              100%;
    }
    #settings .x-content table th, #settings .x-content table td {
        padding:            .5em;
    }

    #settings .x-content th {
        text-align:         right;
        font-weight:        normal;
        white-space:        nowrap;
    }

    #settings .x-content tr.x-sep th, #settings .x-content tr.x-sep td {
        border-bottom:      1px solid #304943;
    }
