#content_wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size:      28px;
    font-weight:    900;
    color:          #ccc;
    letter-spacing: 0.5em;
    margin-bottom:  30px;
    width:          70%;
    text-align:     center;
}
h2 {
    font-size:      18px;
    font-weight:    800;
    color:          #7c4;
    border:         none;
    letter-spacing: 0.3em;
    padding:        0px;
    margin-bottom:  10px;
    margin-top:     0px;
}
hr {
    display:none;
}
div.content {
    width:              90%;
    border-top:         1px  solid #88a;
    border-right:       1px  solid #88a;
    border-bottom:      1px  solid #88a;
    border-left:        10px solid #88a;
    padding:            10px;
    margin-bottom:      30px;
    -moz-border-radius: 8px 0px 0px 8px;
    border-radius:      8px 0px 0px 8px;
}
div.schedule a {
    position:        relative;
    display:         block;
    color:           white;
    text-decoration: none;
    padding:         .2em .8em;
    border:          thin solid #668;
    margin-right:   280px;
    /*width:           340px;*/
}
div.schedule a span {
    display:none;
}
div.schedule a:hover {
    background-color: #204670;
    border-top:       thin solid #668;
    border-bottom:    thin solid #668;
    border-left:      thin solid #668;
    cursor:           default;
}
div.schedule a:hover span {
    display:          block;
    position:         absolute;
    background-color: #204670;
    color:            white;
    right:            -291px;
    margin-top:       -20px;
    width:            280px;
    padding:          5px;
    border:           thin dashed #88a;
}
div.diskstatus {
    /* width:  325px; */
    height: 7em;
    float:  left;
}
div.loadstatus {
    /* width:  325px; */
    height: 7em;
    float:  right;
}
.jobfinished { color: white; }
.jobaborted  { color: #ff2222;  }
.joberrored  { color: #ff4444;  }
.jobrunning  { color: #00ff00;  }

