/*
 * Table around all program info (left column)
/*/

#_info {
    float:              left;
    padding:            0px;
    min-width:          350px;
    max-width:          500px;
    margin:             10px 0px 10px 10px;
    background-color:   #101a29;
    color:              #E0E0FF;
    border:             1px solid #9090B0;
}

/*
 * This div contains the program overview:
 * channel/title/subtitle/time/description
/*/

._channel {
    width:              8em;
    padding:            0 !important;
    vertical-align:     middle;
    background-color:   #202a49;
    white-space:        nowrap;
    border-right:       1px solid #9090B0;
    border-bottom:      1px solid #9090B0;
}
._channel img {
    position:           relative;
    top:                -4px;
    vertical-align:     middle;
}
._channel a {
    display:            block;
    text-align:         center;
    padding:            5px;
}
._channel ._preferred {
    margin-left:        5px;
    font-size:          200%;
}

#_title {
    padding:            .2em .5em;
    border-bottom:      1px solid #9090B0;
}
#_title a {
    font-size:      175% !important;
    font-weight:    bold;
}

#_time {
    margin-top:     .2em;
    color:          #E0E0FF;
    white-space:    nowrap;
}
#_description {
    padding:        .5em;
    border-bottom:  1px solid #9090B0;
}

#_status {
    background-color:   #102923;
}


#_status th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    padding:            .25em;
    white-space:        nowrap;
    border-top:         1px solid #9090B0;
}
#_status td {
    padding:            .25em;
    border-top:         1px solid #9090B0;
}
#_status td a {
    float:              left;
    margin-right:       .5em;
    font-weight:        bold;
    border:             1px solid #7b8;
    padding:            .15em .5em;
    background-color:   #263;
}
#_status td a:hover {
    border:             1px solid #9da;
    background-color:   #485;
}

#_info ._extras {
}
#_info ._extras th {
    vertical-align: top;
    font-weight:    normal;
    text-align:     right;
    padding:        .25em;
    white-space:    nowrap;
    border-top:      1px solid #202933;
}
#_info ._extras td {
    padding:        .25em;
    border-top:      1px solid #202933;
}

#_conflicts th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    white-space:        nowrap;
    padding:            .5em .25em;
    border-top:         1px solid #9090B0;
}
#_conflicts td {
    padding:            .25em;
    padding-bottom:     0;
    border-top:         1px solid #9090B0;
}
#_conflicts td a {
    display:            block;
    padding:            .15em .25em;
    margin-bottom:      .25em;
}
#_conflicts {
}

#_info ._links th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    white-space:        nowrap;
    padding:            .4em .25em;
    border-top:         1px solid #9090B0;
}
#_info ._links td {
    padding:            .25em;
    padding-bottom:     0;
    border-top:         1px solid #9090B0;
}
#_info ._links td a {
    display:            block;
    padding:            .15em .25em;
    margin-bottom:      .25em;
}


