/*
 * Table around all program info (left column)
/*/

#_info {
    float:              left;
    padding:            0px;
    width:              45em;
    margin:             10px 0px 10px 10px;
    background-color:   #101a29;
    color:              #E0E0FF;
    border:             1px solid #9090B0;
}

/*
 * This div contains the program overview:
 * channel/title/subtitle/time/description
/*/

.-channel {
    width:              8em;
    padding:            0 !important;
    vertical-align:     middle;
    background-color:   #202a49;
    white-space:        nowrap;
    border-right:       1px solid #9090B0;
    border-bottom:      1px solid #9090B0;
}
.-channel img {
    position:           relative;
    top:                -4px;
    vertical-align:     middle;
}
.-channel a {
    display:            block;
    text-align:         center;
    padding:            5px;
}
.-channel .-preferred {
    margin-left:        5px;
    font-size:          200%;
}

#-title {
    padding:            .2em .5em;
    border-bottom:      1px solid #9090B0;
}
#-title a {
    font-size:      175% !important;
    font-weight:    bold;
}

#_time {
    margin-top:     .2em;
    color:          #E0E0FF;
    white-space:    nowrap;
}
#-description {
    padding:        .5em;
    border-bottom:  1px solid #9090B0;
}
#-progflags td {
    padding:        .5em;
    border-bottom:  1px solid #9090B0;
}
#-progflags img {
    margin-right:   .3em;
}
#-progflags a img {
    border:         1px solid transparent;
}
#-progflags a:hover img {
    border:         1px solid #F0F000;
}

#-status {
    background-color:   #102923;
}


#-status th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    padding:            .25em;
    white-space:        nowrap;
    border-top:         1px solid #9090B0;
}
#-status td {
    padding:            .25em;
    border-top:         1px solid #9090B0;
}
#-status td a {
    float:              left;
    margin-right:       .5em;
    font-weight:        bold;
    border:             1px solid #7b8;
    padding:            .15em .5em;
    background-color:   #263;
}
#-status td a:hover {
    border:             1px solid #9da;
    background-color:   #485;
}

#_info .-extras {
}
#_info .-extras th {
    vertical-align: top;
    font-weight:    normal;
    text-align:     right;
    padding:        .25em;
    white-space:    nowrap;
    border-top:      1px solid #202933;
}
#_info .-extras td {
    padding:        .25em;
    border-top:      1px solid #202933;
}

#_conflicts th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    white-space:        nowrap;
    padding:            .5em .25em;
    border-top:         1px solid #9090B0;
}
#_conflicts td {
    padding:            .25em;
    padding-bottom:     0;
    border-top:         1px solid #9090B0;
}
#_conflicts td a {
    display:            block;
    padding:            .15em .25em;
    margin-bottom:      .25em;
}
#_conflicts {
}

#_info .-links th {
    vertical-align:     top;
    font-weight:        normal;
    text-align:         right;
    white-space:        nowrap;
    padding:            .4em .25em;
    border-top:         1px solid #9090B0;
}
#_info .-links td {
    padding:            .25em;
    padding-bottom:     0;
    border-top:         1px solid #9090B0;
}
#_info .-links td a {
    display:            block;
    padding:            .15em .25em;
    margin-bottom:      .25em;
}

#_downloads {
    float:              left;
    padding:            0px;
    min-width:          350px;
    max-width:          500px;
    margin:             10px 0px 10px 10px;
    background-color:   #101a29;
    color:              #E0E0FF;
    border:             1px solid #9090B0;
}
#_downloads img {
    margin-right:       .3em;
}
#_downloads a img {
    border:             1px solid transparent;
}
#_downloads a {
    border:             1px solid transparent;
}
#_downloads a:hover img {
    border:             1px solid #F0F000;
}
#_downloads div.-pixmap {
    padding:            1em 1em 0em 1em;
    background-color:   black;
    text-align:         center;
}
#_downloads div.-pixmap a.-pixmap {
    margin:             .25em auto;
}

#_downloads div.-links {
    padding:            .5em;
    background-color:   black;
    text-align:         center;
}

#_downloads div.-links a {
    position:           relative;
    top:                -10px;
    margin:             0px 1.5em;
    padding:            .75em;
}
#_downloads div.-links a img {
    position:           relative;
    top:                10px;
}
#_downloads div.-links a:hover img {
    border:             1px solid transparent;
}
#_downloads div.-links a:hover {
    background-color:   #121;
    border:             1px solid #F0F000;
    text-decoration:    none;
}


