#search_options {
    margin:     1em auto;
}
#search_options td {
    padding:            .5em 1em;
    vertical-align:     top;
    white-space:        nowrap;
}
#search_options td.-advanced {
    border-right:       1px solid #304943;
}
#search_options td.-timeopts {
    border-right:       1px solid #304943;
}
#search_options td.-progtype {
    border-right:       1px solid #304943;
}
#search_options td.-submit {
    vertical-align:     middle;
    padding:            1.5em;
}


#_search_name {
    font-size:          150%;
    text-align:         center;
}

#search_results th {
    font-weight:        normal;
    text-align:         left;
    white-space:        nowrap;
}
#search_results th.-title {
}
#search_results th.-category {
}
#search_results th.-description {
}
#search_results th.-channum {
}
#search_results th.-airdate {
}
#search_results th.-length {
}

#search_results td {
}
#search_results td.-title {
}
#search_results td.-category {
}
#search_results td.-description {
}
#search_results td.-channum {
}
#search_results td.-airdate {
    white-space:        nowrap;
}
#search_results td.-length {
    white-space:        nowrap;
}

