#no_schedules {
    margin:         1em;
    padding:        1em;
    font-size:      200%;
    text-align:     center;
}

#listings th {
    font-weight:        normal;
    text-align:         left;
    white-space:        nowrap;
}
#listings th.-title {
}
#listings th.-priority {
    text-align:         center;
}
#listings th.-channel {
}
#listings th.-profile {
}
#listings th.-transcoder {
}
#listings th.-group {
}
#listings th.-type {
}

#listings td {
}
#listings td.-title {
}
#listings td.-priority {
    text-align:         center;
}
#listings td.-channel {
}
#listings td.-profile {
}
#listings td.-transcoder {
}
#listings td.-group {
}
#listings td.-type {
}

