/*
 * This div contains all of the scheduling options.  It's shared by the program
 * details page, as well as the manual and custom schedule pages.
/*/

#schedule {
    float:              left;
    margin:             10px;
    background-color:   #102923;
    color:              #E0E0FF;
    border:             1px solid #9090B0;
}
#schedule h3 {
    margin: 0px;
    display:    inline;
}
#schedule ul {
    padding-left: 1em;
}
#schedule li {
    list-style-type: none;
    white-space:     nowrap;
}

#schedule .x-options {
    border-bottom:      1px solid #304943;
    padding:            .5em 1em;
    margin:             .5em 0 .5em 0;
}
#schedule .x-options ul {
    margin-top:         .5em;
    margin-bottom:      .5em;
}
#schedule .x-options dl {
    margin-top:         .5em;
    margin-bottom:      .5em;
}
#schedule .x-options dl dt {   /* remember that the vertical margins of dt and dd *must* line up */
    clear:          both;
    float:          left;
    width:          13em;
    margin:         0.25em 0;
    text-align:     right;
    white-space:    nowrap;
    position:       relative; /*IEWin hack*/
}
#schedule .x-options dl dd {
    clear:          right;
    margin-left:    13.5em;
    margin-bottom:  0.5em;
}
#schedule .x-options input {
    width:     18em;
}
#schedule .x-options select {
    width:     18em;
}

#schedule input.inetref {
    width:         5em !important;
    margin-right:  20px;    
}

/* A special subclass for options with extra-long input fields */
#schedule .x-options dl.x-long input, .x-options dl.x-long textarea {
    width:     32em;
}


#x-schedule_advanced_off {
    margin:         .5em 1em;
    font-style:     italic;
    font-size:      90%;
}

#x-schedule_submit {
    text-align:     center;
    padding:        .5em 0 1em 0;
}

/* Metadata specific classes */

#metadata-message {
    margin-bottom:      10px;
}

.multiple-metadata {
}

.metadata-item {
    width:              500px;
    min-height:         150px;
    margin:             0px 15px 10px 0px;
    border:             1px solid white;
}

.metadata-item.hover {
   background-color:    white;
   cursor:              pointer;
   color:               #265990;
}

.metadata-item img {
   float:               left;
}

.metadata-item img.coverart {
   height:              150px;
   width:               100px;
   margin-right:        10px;
}

.metadata-item img.fanart {
   height:              150px;
   width:               100px;
   margin-right:        10px;
}

.metadata-item img.banner {
   height:              55px;
   width:               300px;
   margin:              5px auto -10px;
   float:               none;
}

.metadata-item .no-art {
   height:              2em;
}


.metadata-item .title {
   font-size:           2em;
   font-weight:         bold;
   padding-top:         .5em;
}

.metadata-item .description {
   padding:            0px 10px 10px;
   text-align:         left;
}
