#display_options {
    width:      40em;
    margin:     10px auto;
    padding:    5px;
    text-align: center;
}
#display_options input {
    vertical-align: middle;
}

#listings {
    width: 100%;
}
#listings th {
    font-weight:    normal;
    text-align:     left;
}

#listings th._status {
    text-align:         center;
}
#listings th._title {
}
#listings th._channum {
}
#listings th._airdate {
}
#listings th._length {
}

#listings td._status {
    text-align:         center;
}
#listings td._title {
}
#listings td._channum {
}
#listings td._airdate {
    white-space:        nowrap;
}
#listings td._length {
    white-space:        nowrap;
}
#listings td._commands {
    padding:            2px;
    text-align:         center;
    white-space:        nowrap;
    background-color:   #002650;
}
#listings td._commands a {
    display:            block;
    padding:            .25em .5em;
    margin:             0;
}
