#display_options {
    margin:     1em auto;
}
#display_options td {
    padding:            .35em 1em;
    vertical-align:     middle;
    white-space:        nowrap;
}
#display_options td._title {
    font-size:          110%;
    font-weight:        bold;
}
#display_options td._check {
    padding:            .35em .5em;
    border-left:        1px solid #304943;
    height:             2em;
}
#display_options td._check label {
    border:             1px solid #7b8;
    background-color:   #263;
    padding-top:        .15em;
    padding-bottom:     .15em;
    padding-left:       .5em;
    padding-right:      .35em;
    margin-top:         .5em;
    margin-bottom:      .5em;
    margin-left:        0em;
    margin-right:       0em;
}
#display_options td._check label:hover {
    border:             1px solid #9da;
    background-color:   #485;
}
#display_options td._check input {
    float:              none;
    padding:            0px;
    margin:             0px;
    margin-right:       5px;
    margin-top:         -1px;
}

#listings {
    width: 100%;
}
#listings th {
    font-weight:    normal;
    text-align:     left;
}

#listings th._status {
    text-align:         center;
}
#listings th._title {
}
#listings th._channum {
}
#listings th._airdate {
}
#listings th._length {
}

#listings td._status {
    text-align:         center;
}
#listings td._title {
}
#listings td._channum {
}
#listings td._airdate {
    white-space:        nowrap;
}
#listings td._length {
    white-space:        nowrap;
}
#listings td._commands {
    padding:            2px;
    text-align:         center;
    white-space:        nowrap;
    background-color:   #191c26;
}
#listings td._commands a {
    display:            block;
    padding:            .25em .5em;
    margin:             0;
}
