/* This table holds the title and recgroup choices */

#title_choices {
    margin:     1em auto;
}

/* This is the table that holds the list of recorded shows */

#recorded_list {
    width:          100%;
}

#recorded_list td {
    padding:        4px;
    border:         1px solid #222;
}
#recorded_list th {
    padding:        0;
    border:         1px solid #222;
    text-align:     left;
    font-weight:    normal;
}
#recorded_list th a {
    padding:        2px .5em;
    display:        block;
}

#recorded_list td.x-pixmap {
    background-color:   black;
    padding:            0 !important;
    width:              150px;
    position:           relative;
}
#recorded_list td.x-pixmap a {
    border:         1px solid transparent;
}
#recorded_list td.x-pixmap a:hover {
    border:         1px solid #F0F000;
}

#recorded_list td.x-pixmap a.x-pixmap {
    float:          left;
    height:         78px;
}
#recorded_list td.x-pixmap a.x-pixmap img {
    width:          100px;
    height:         76px;
}
#recorded_list td.x-pixmap a.x-download {
    margin-left:    102px !important;
    display:        block;
    padding:        7px;
    height:         24px;
    text-align:     center;
    vertical-align: middle;
}

#recorded_list th.x-title a, #recorded_list td.x-title {
}
#recorded_list th.x-subtitle a, #recorded_list td.x-subtitle {
}
#recorded_list th.x-programid a, #recorded_list td.x-programid {
}
#recorded_list th.x-channum a, #recorded_list td.x-channum {
    white-space:    nowrap;
}
#recorded_list th.x-airdate a, #recorded_list td.x-airdate {
    text-align:     center;
    white-space:    nowrap;
}
#recorded_list th.x-recgroup a, #recorded_list td.x-recgroup {
}
#recorded_list th.x-length a, #recorded_list td.x-length {
    white-space:    nowrap;
    text-align:     center;
}
#recorded_list th.x-filesize a, #recorded_list td.x-filesize {
    white-space:    nowrap;
    text-align:     center;
}

#recorded_list td.x-commands {
    padding:            0;
    width:              5%;
    white-space:        nowrap;
    text-align:         center;
    vertical-align:     top;
    background-color:   #222;
}
#recorded_list td.x-commands a {
    display:            block;
    padding:            .5em;
    margin:             0 0 2px 0;
    border:             2px solid #000;
    background-color:   #333;
}
#recorded_list td img.channelicon
{
    text-align:         center;
    display:            block;
    margin-left:        auto;
    margin-right:       auto;
    max-width:          70px;
    max-height:         70px;
    width:              expression(this.width > 70 ? "70px" : true);
    height:             expression(this.height > 70 ? "70px" : true);
}


/* a class for the the cells containing recored programs in recorded_programs.php */
.recorded {    background-color: #444; }

.recorded .x-progflags img {
    padding:    .3em;
}

.recorded a img {
    border:     1px solid transparent;
}
.recorded .x-progflags a:hover img {
    border:     1px solid #F0F000;
}

